extends layout

block content
  main
    .landing-menu-section
      a(href='/dictionary')
        .large-goto-button
          h2 DICTIONARY ADMIN
      a(href='/blog')
        .large-goto-button
          h2 BLOG ADMIN
