/*
new color scheme
blue: #5DA4C1
dark blue:  #234C5C
orange: #F7A375
dark orange: #E0763D
brown: #462310
facebook blue: #3b5998
twitter blue: #00aced
*/

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, textarea
dl, dt, dd, ol, ul, br,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    white-space: pre-line;
    vertical-align: baseline;
}

body {
  text-align: center;
}

main {
  padding: 50px;
}

h1 {
  font: 80px "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h2 {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3 {
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label,
h4 {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h5 {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a,
p,
li,
input,
select,
textarea,
blockquote,
span {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: .1em;
}

br {
  display: block;
  margin-top: 10px;
}

form {
  display: block;
  margin: 30px auto;
}

input,
select,
textarea {
  height: 50px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  padding: 0 15px;
}

a {
  color: #00B7FF;
}

.header-title-container {
  background: url('/images/mindset-banner2-blueorange-6000x2000.png');
  background-size: cover;
  background-position: right;
  color: #462310;
  padding: 10px 2%;
}

#letter {
  background: #E0763D;
  color: #fff;
}

.new-term-button {
  background: #E0763D;
  color: #fff;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.new-term-button span {
  font-size: 20px;
  font-weight: bold;
}

.new-term-button span:first-of-type {
  margin-right: 10px;
}

.new-term-container {
  height: 0;
  margin: 20px auto;
  overflow: hidden;
  width: 70%;
}

.new-term-form input[type='text'] {
  width: 50%;
}

.new-term-form textarea {
  height: 200px;
  width: 50%;
  word-break: break-all;
  word-wrap: normal;
  padding-top: 15px;
}

.new-term-submit,
.new-term-cancel {
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 200px;
}

.new-term-submit {
  background: #79d2a6;
  margin-right: 20px;
}

.new-term-cancel {
  background: #ff8080;
}

.new-term-good {
  color: #E0763D;
}

.new-term-bad {
  color: red;
}

.mindset-dictionary-letterlist {
  text-align: left;
}

.mindset-photo-definition {
  height: auto;
  margin: 20px auto;
  width: 70%;
}

.mindset-photo-definition h3 {
  display: inline-block;
}

.edit-photo-term,
.delete-photo-term,
.confirm-delete-term,
.cancel-delete-term  {
  float: right;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
}

.confirm-delete-term,
.cancel-delete-term {
  background: #ffcc00;
  width: 0;
  overflow: hidden;
}

.edit-photo-term {
  background: #79d2a6;
  color: #206020;
  margin: 0 20px;
}

.delete-photo-term {
  background: #ff8080;
  color: #660000;
}
