/*
new color scheme
blue: #5DA4C1
dark blue:  #234C5C
orange: #F7A375
dark orange: #E0763D
brown: #462310
facebook blue: #3b5998
twitter blue: #00aced
*/

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, textarea
dl, dt, dd, ol, ul, br,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    white-space: pre-line;
    vertical-align: baseline;
}

body {
  text-align: left;
  color: #462310;
}

main {
  padding: 50px;
}

h1 {
  font: 80px "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 20px 0;
  color: #462310;
}

h2 {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 15px 0;
}

h3 {
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10px 0;
  color: #462310;
}

label,
h4 {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 10px 0;
  color: #462310;
}

h5 {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 10px 0;
  color: #462310;
}

a,
p,
li,
input,
select,
textarea,
blockquote,
span {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: .1em;
}

br {
  display: block;
  margin-top: 10px;
}

form {
  display: block;
}

input,
select,
textarea {
  height: 50px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  padding: 0 15px;
}

a {
  color: inherit;
}

ol,
ul {
  padding: 5px 50px;
}

p,
li {
  margin: 15px 0;
}

.header-title-container {
  background: url('/images/mindset-banner2-blueorange-6000x2000.png');
  background-size: cover;
  background-position: right;
  color: #462310;
  padding: 10px 2%;
}

.large-goto-button {
  background: #5DA4C1;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 30px auto;
  width: 600px;
}

#letter {
  background: #E0763D;
  color: #fff;
  width: 100px;
  margin-left: 20px;
}

.mindset-dictionary-selector {
  display: inline-block;
  margin-left: 80px;
  text-align: center;
}

.header-title-container a {
  font-size: 30px;
}

.new-term-button {
  background: #E0763D;
  color: #fff;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.new-blog-menu {
  width: 20%;
  height: auto;
  position: fixed;
}

.new-blog-save,
.new-blog-cancel,
.new-blog-addsection,
.new-term-submit,
.new-term-cancel,
.new-term-button span,
.edit-term-submit,
.edit-term-cancel {
  font-size: 20px;
  font-weight: bold;
}

.new-term-button span:first-of-type {
  margin-right: 10px;
}

.new-term-container {
  background: #5DA4C1;
  height: 0;
  margin: 20px auto;
  overflow: hidden;
  width: 100%;
}

.edit-form-buttons,
.new-term-form,
.edit-term-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}

.form-text-input,
.form-textarea-input {
  margin: 0 auto;
  width: 40%;
}

.form-text-input input,
.form-textarea-input input:not(#new-blog-suborder) {
  width: 90%;
}

.form-textarea-input textarea {
  height: 175px;
  width: 90%;
  word-break: keep-all;
  word-wrap: normal;
  padding-top: 15px;
}

.new-blog-save,
.new-blog-cancel,
.new-blog-addsection,
.edit-term-submit,
.edit-term-cancel,
.new-term-submit,
.new-term-cancel {
  display: block;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin: 10px auto;
  text-align: center;
  width: 200px;
}

.new-blog-save,
.edit-term-submit,
.new-term-submit {
  background: #79d2a6;
}

.new-blog-cancel,
.edit-term-cancel,
.new-term-cancel {
  background: #ff8080;
}

.new-blog-addsection {
  border: 1px solid #462310;
}

.new-term-good {
  color: #E0763D;
}

.new-term-bad {
  color: red;
}

.mindset-dictionary-letterlist {
  position: relative;
  text-align: left;
}

.mindset-photo-definition {
  height: auto;
  margin: 20px auto;
  width: 70%;
}

.mindset-photo-definition a {
  margin: 5px 10px 5px 0px;
}

.mindset-photo-definition h3 {
  display: inline-block;
}

.edit-photo-term,
.delete-photo-term,
.confirm-delete-term,
.cancel-delete-term  {
  float: right;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
}

.edit-term-container {
  background: #5DA4C1;
  display: none;
  min-height: 470px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.confirm-delete-term,
.cancel-delete-term {
  background: #ffcc00;
  width: 0;
  overflow: hidden;
}

.edit-photo-term {
  background: #79d2a6;
  color: #206020;
  margin: 0 20px;
}

.delete-photo-term {
  background: #ff8080;
  color: #660000;
}

@media screen and (max-width: 1200px) {
  .mindset-photo-definition {
    width: 90%;
  }
}
