/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input, textarea
dl, dt, dd, ol, ul, br,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    white-space: pre-line;
    vertical-align: baseline;
}

body {
  padding: 50px;
  text-align: center;
}

h1 {
  font: 80px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h2 {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3 {
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label,
h4 {
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h5 {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a,
p,
li,
input,
textarea,
blockquote,
span {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: .1em;
}

br {
  display: block;
  margin-top: 10px;
}

form {
  display: block;
  margin: 30px auto;
}

input,
textarea {
  height: 50px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  padding: 0 15px;
}

a {
  color: #00B7FF;
}

#letter-search-go {
  background: #5DA4C1;
  border-radius: 10px;
  color: #fff;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  width: 80px;
}

.new-term-container {
  height: 0;
  margin: 20px auto;
  overflow: hidden;
  width: 70%;
}

.new-term-form input[type='text'] {
  width: 50%;
}

.new-term-form textarea {
  height: 200px;
  width: 50%;
  word-break: break-all;
  word-wrap: normal;
  padding-top: 15px;
}

.new-term-submit,
.new-term-cancel {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 200px;
}

.new-term-submit {
  background: #79d2a6;
  margin-right: 20px;
}

.new-term-cancel {
  background: #ff8080;
}

.mindset-dictionary-letterlist {
  text-align: left;
}

.mindset-photo-definition {
  height: auto;
  margin: 20px auto;
  width: 70%;
}

.mindset-photo-definition span svg {
  margin-left: 50px;
}
